* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight:bold;
}
/* CONTAINER MAIN */
.container-main{
    align-items: end;
    flex-direction: column;
    overflow: auto;
    display: flex;
    width: 100%;
    min-height:100vh;
    background-color:#141922;
    
}
/* container con album */
.container-content{
    overflow: scroll;
    position: fixed;
    top:5rem;
    left: 16rem;
    width: 86.5%;
    height: 90vh;
  
}
.menu{
    color:#6D6D6D ;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  
}
/* album e consigli */
.album{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.canvas{
    top: 10rem;
    margin-left: 2%;
    width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.cover{
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: aqua;
}

.cover img{
    
    width: 10rem;
}
.cover .fa-circle-play{
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 1.5rem;
    font-size: 5rem;
    
}
.circle{
    border-radius: 50%;
    height: 90%;
    width: 100%;
}

.circle img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.canvas span{
    margin: 0.5rem;
}
.artis {
    color: #6D6D6D;
    font-size: 0.8rem;
}

.Subtitle{
    color: #6D6D6D;
    font-size: 0.8rem;
}

.title{
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
}
.option{
    margin: 1rem;
}
.popular-artist{
    margin-bottom: 10rem;
}

/* container-left */
.container-left{
    position:fixed;
    top: 0;
    left: 0;
    color:#6D6D6D ;
    width: 16rem;
    height:calc(100% - 6rem);
    background-color: black;
}

.logo{
    display: flex;
    width: 100%;
}

.logo img{
    padding-top: 1rem;
    width: 70%;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.navbar-left{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0.5rem;
    width: 100%;
}

.fa-solid{
    font-size: 1.2rem;
    margin:0.5rem;
}

.playlist{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.playlist h4{
    color: white;
}
#add-list{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.fa-square-plus{
    font-size: 3rem;
}

ul{
    color:#6D6D6D ;
    list-style: none;
    line-height: 2rem;
    
}

.user{
    position: absolute;
    bottom: 0;
    color:#6D6D6D ;
    width: 100%;
    padding:0 1rem;
    
}
.fa-circle-down{
    margin: 0.4rem;
    color: #6D6D6D;
}
.fa-circle-user{
    margin-left: 0.1;
}
hr{
    margin: 0.4rem;
}
#name{
    color: white;
}
/* container-left END */

/* container-upgrade */
.container-up{
    position: fixed;
    top: 0;
    display: flex;
    background-color:#080B12 ;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: end;
}

.container-up button{
    color: white;
    padding:1rem;
    border: 1px solid white;
    border-radius: 30px;
    background-color:#080B12 ;
    width: 15rem;
    height: 3rem;
    margin-right: 1rem;
}

/* container upgrade END */

/* CONTAINER MAIN */

/* container play-bar */
.container-play{
    left: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #282828;
}
/* canvas e titolo */
.song{
    justify-content: center;
    display: flex;
    width: 7%;
    height: 100%;
}
.song img{
    width: 65%;
    object-fit: contain;
}
.song-name{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 5%;
    height: 100%;
}

#group{
    color: white;
    font-size: 0.9rem;
}

#title{
    color: #6D6D6D;
    font-size: 0.7rem;
}

/* like e save */
.save{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;    
    color: #6D6D6D;
    justify-content: center;
    align-items: center;
}
.fa-folder{
    padding: 1rem;
}

/* player */
.container-player{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    
}
.play-pause{
    margin-bottom: 0.5rem;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.play-bar{
    width: 100%;
    height: 50%;
}

.fa-circle-play{
    font-size: 2rem;
    margin: 0.2rem 1rem;
}

.player-bar{
    margin-top: 0.5rem;
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    width:70% ;
}
.line{
    border-radius: 30px;
    height: 0.3rem;
    width: 90%;
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 25%, rgba(90,90,90,1) 25%);
}

.min{
    color: white;
    margin-left: 1em;
    margin-right: 2rem;
    width: 1%;
}
/* volume container */

.volume-container{
    color: #6D6D6D;
    display: flex;
    width: 30%;
    height: 100%;
}

.icon-display{
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
    height: 100%;
}

.volume{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0.5rem;
    width: 50%;
}

.line-volume{
    border-radius: 30px;
    height: 0.3rem;
    width: 40%;
    background: rgb(193,193,193);
    background: linear-gradient(90deg, rgba(193,193,193,1) 25%, rgba(90,90,90,1) 25%);
}


/* hover */

.cover:hover .fa-circle-play{
    display: block;
    color: rgb(30, 215, 96) ;
}

.volume:hover .line-volume{
    background: linear-gradient(90deg, rgba(193,193,193,1) 75%, rgba(90,90,90,1) 75%); 
}

.white:hover{
    color: white;
}


.grow:hover {
    color:rgb(30, 215, 96) ;
    transform: scale(1.1);
}

.option:hover{
    border-bottom :solid 0.2rem chartreuse;
}


.left:hover{
    border-left:solid 0.2rem chartreuse ;
}


.logo:hover{
    filter: brightness(0) saturate(100%) invert(54%) sepia(84%) saturate(438%) hue-rotate(88deg) brightness(89%) contrast(93%);
}

@media screen and (max-width:970px){

    .album{
        width:calc(100% / 2 +1rem )
    }
 
}

@media screen and (max-width:969px){

    .save{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width:550px) {
    
    .logo img{
        display: none;
    }

    .small-logo{
        width: 40%;
        margin: 0.5rem 0 0 0.6rem;
        filter: brightness(0) saturate(100%) invert(54%) sepia(84%) saturate(438%) hue-rotate(88deg) brightness(89%) contrast(93%);
    }

    .playlist{
        display: none;
    }  
   .left{
        display: none;
    }

    .little img:hover{
        filter: brightness(0) saturate(100%) invert(54%) sepia(84%) saturate(438%) hue-rotate(88deg) brightness(89%) contrast(93%);
    }
    
    .little img{
        width: 60%;
        margin: rem 0 0 1rem;
    }

    .container-left{
        display: flex;
        flex-direction: column;
        width: 10%;
        position: fixed;
       
    }

    .container-content{
        left: 6rem;
    }

    .menu{
        margin-left: 2rem;
        flex-wrap: wrap;
        justify-content: left;
    }

    .save{
        margin-left: 1.5rem;
    }
    .min{
        width: 10%;
    }

    .user{
        display: none;
    }

    .little-user{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 25rem;
    }
      
        
    .bottom-items{
        
        align-items: end;
    }
}


@media screen and (min-width:551px) {
    
    .small-logo img{
        display: none;
    }

    .little img{
        display: none;
    }
    
    .little-user{
       display: none;
    }
}